# Prerequisites
*.d
*.cbp

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

cmake-build-debug
.idea
doc/_build
doc/ext/local-config.py
doc/ext/__*
CMakeFiles/
cmake-build-release/
venv/
