# Compiled Object files
*.o
*.obj
*.swp
*.cbp

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.a
*.lib

# Executables
*.exe
*.out
*.app
example/ex_flat_space
example/ex_netcompact
example/ex_netdb
unit_tests/test_libswoc

# CMake cruft
*.cmake
CMakeFiles/
CMakeCache.txt
cmake-build-*/
Makefile
.idea/

# Documentation.
doc/_build
doc/doxygen
doc/reference
doc/ext/local-config.py
doc/ext/__*
venv/
.parts.cache
.sconsign.dblite
_build
_install
_sdk
_unit_tests



Pipfile.lock
