# Prerequisites
*.d
*.cbp

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.swp

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.idea
cmake-build-debug
doc/_build
doc/doxygen
doc/reference
doc/ext/local-config.py
doc/ext/__*
CMakeFiles/
cmake-build-release/
venv/
.parts.cache
.sconsign.dblite
_build
_install
_sdk
_unit_tests


